<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Challenge</title>
</head>
<body>
<h1>Create Challenge</h1>
<form action="#" th:action="@{/create-challenge}" method="post" enctype="multipart/form-data">
    <label for="file">Upload File:</label>
    <input type="file" name="file" id="file" required/>
    <br/>
    <label for="hint">Hint:</label>
    <input type="text" name="hint" id="hint" required/>
    <br/>
    <button type="submit">Submit</button>
</form>
<p th:text="${message}"></p>
</body>
</html>
