<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User list</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <form th:action="@{/logout}" method="post" style="display:inline;">
                <button type="submit" class="btn btn-warning btn-sm">Logout</button>
            </form>
            <td><form th:action="@{/register}" method="get" style="display:inline;">

                <button type="submit" class="btn btn-success btn-sm">ADD</button>
            </form></td>
            <td><a th:href="@{/create-challenge}" class="btn btn-primary btn-sm" >CHALL </a></td>
            <td><a th:href="@{/abc}" class="btn btn-info btn-sm" >ADD XML</a></td>
            <td><a th:href="@{/upload}" class="btn btn-success btn-sm" >MP4-M4A</a></td>
            <td><a th:href="@{/upload-url}" class="btn btn-primary btn-sm" >CURL</a></td>
            <td><a th:href="@{/backup}" class="btn btn-success btn-sm" >BACKUP</a></td>
            <td><a th:href="@{/uploadhomework}" class="btn btn-primary btn-sm" >BÀI TẬP</a></td>
            <h2 class="text-center">Danh sách user</h2>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item, iterStat : ${userlist}">
                    <td th:text="${iterStat.index + 1}">1</td>
                    <td th:text="${item.name}">Name</td>
                    <td>
                        <span th:switch="${item.role}">
                            <span th:case="0">Giáo viên</span>
                            <span th:case="1">Sinh viên</span>
                            <span th:case="*">Không xác định</span>
                        </span>
                    </td>
                    <td><a th:href="@{/detail/{id}(id=${item.id})}">Detail</a></td>
                    <td><a th:href="@{/edit/{id}(id=${item.id})}">Edit</a></td>
                   <td>
                    <form th:action="@{/delete}" method="post" style="display:inline;">
                        <input type="hidden" name="id" th:value="${item.id}" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                    </td>
                    <td><a th:href="@{/giao/{id}(id=${item.id})}">Giao</a></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>
