<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>User List</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Full Name</th>
            <th>Role</th>
            <th>Password</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}">Username</td>
            <td th:text="${user.email}">Email</td>
            <td th:text="${user.phone}">Phone</td>
            <td th:text="${user.fullname}">Full Name</td>
            <td th:text="${user.role}">Role</td>
            <td>123qweaA@</td>
        </tr>
        </tbody>
    </table>
    <form action="/saveUsers" method="post">
        <button type="submit" class="btn btn-primary">Save Users</button>
    </form>
</div>
</body>
</html>
